@model IEnumerable<BeerPlaylist.Models.Beer>

@{
    ViewBag.Title = "Beers";
}

<br /><br />
@using (Html.BeginForm("Beers", "Home", FormMethod.Get))
{
    @Html.TextBox("searching")<input type="submit" value="Search" />
}

<h2>Beers</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeerType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ABV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color: red">
                    No Match Any Document
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeerType.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ABV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                    @Html.ActionLink("Edit", "Edit", new { id = item.BeerId }) 
                      }
                </td>
            </tr>
            }
        }
    </tbody>
</table>